{#
 # Default entry template
 # -------------------
 #
 #}

{% extends "_layout" %}
{% set rowLength = 0 %}
{% set blockLength = 0 %}

{% block content %}
  <div id="" class="view-wrapper">

    <article class="article-wrapper">
      <div class="article-content">

        {% if entry.imageField|length %}
          {% set image = entry.imageField.one() %}

          {% if image %}
            <div class="column-image">
              {% include 'components/_inline-image.twig' %}
            </div>
          {% endif %}
        {% endif %}

        <h1 class="view-title row full">{{ entry.title }}</h1>

        {% if entry.sectionLinks|length %}
          {% for block in entry.entryFields.all() %}
            {% if block.type == 'doubleColumnBlock' %}
              <p class="section-link">
                <a href="#{{ loop.index }}" class="arrow down">{{ block.textField|split('</h3>')|first|replace({ '<h3>': '' })|replace({ '&amp;': '&' }) }}</a>
              </p>
            {% endif %}
          {% endfor %}
        {% endif %}

        <div class="row">
          {% for block in entry.entryFields.all() %}
            {% switch block.type %}
            {% case 'fullWidthColumnBlock' %}
              {% set blockLength = 3 %}
            {% case 'doubleColumnBlock' %}
              {% set blockLength = 2 %}
            {% case 'singleColumnBlock' %}
              {% set blockLength = 1 %}
            {% endswitch %}

            {% if rowLength + blockLength > 3 %}
              </div><div class="row">
              {% set rowLength = 0 %}
            {% endif %}

            {% switch block.type %}
              {% case 'fullWidthColumnBlock' %}
                <div id="{{ loop.index }}" class="column full {% if block.topBorder.contains('showBorder') %}border{% endif %}">
                  {% if block.imageField|length %}
                    {% set image = block.imageField.one() %}

                    {% if image %}
                      <div class="column-image">
                        {% include 'components/_inline-image.twig' %}
                      </div>
                    {% endif %}
                  {% endif %}

                  {% if block.textField %}
                    <div class="view__copy">
                      {{ block.textField }}
                    </div>
                  {% endif %}
                </div>

              {% case 'doubleColumnBlock' %}
                <div id="{{ loop.index }}" class="column double {% if block.topBorder.contains('showBorder') %}border{% endif %}">
                  {% if block.imageField|length %}
                    {% set image = block.imageField.one() %}

                    {% if image %}
                      <div class="column-image">
                        {% include 'components/_inline-image.twig' %}
                      </div>
                    {% endif %}
                  {% endif %}

                  {% if block.textField %}
                    <div class="view__copy">
                      {{ block.textField }}
                    </div>
                  {% endif %}
                </div>

              {% case 'singleColumnBlock' %}
                <div id="{{ loop.index }}" class="column single {% if block.topBorder.contains('showBorder') %}border{% endif %}">
                  {% if block.imageField|length %}
                    {% set image = block.imageField.one() %}

                    {% if image %}
                      <div class="column-image">
                        {% include 'components/_inline-image.twig' %}
                      </div>
                    {% endif %}
                  {% endif %}

                  {% if block.textField %}
                    <div class="view__copy">
                      {{ block.textField }}
                    </div>
                  {% endif %}
                </div>

            {% endswitch %}
            {% set rowLength = rowLength + blockLength %}
          {% endfor %}
        </div>

        {% if entry.pageCta|length %}
          {% for block in entry.pageCta.all() %}
            <div class="view__button">
              <a href="{{block.buttonLink}}" target="_blank" class="button default-weight">{{block.buttonCopy}}</a>
            </div>
          {% endfor %}
        {% endif %}

      </div>
		</article>
  </div>

  {% if entry.backgroundColor %}
    <style type="text/css">
      body {
        background-color: {{ entry.backgroundColor.getHex() }};
      }

      header {
        background-color: {{ entry.backgroundColor.getHex() }}!important;
      }
    </style>
  {% endif %}
{% endblock %}
