{#
 # Landing page template
 #}

{% extends "_layout" %}
{% block content %}
  <div id="page-index" class="">
    {% for block in entry.contentLockup.all() %}
      {% if block.type == 'contentLockup' %}
        {% if block.lockupLink|length %}
         <a href="{{block.lockupLink}}">
        {% endif %}
          <div class="content-lockup">
            {% set image = block.lockupImage.one() %}

            {% if image %}
              <div class="content-lockup__image">
                {% include 'components/_asset.twig' %}
              </div>
            {% endif %}

            <div class="content-lockup__copy">
              <h1>{{block.lockupHeader}}</h1>
              <p class="serif">{{ block.lockupSubhead }}</p>
            </div>
          </div>
        {% if block.lockupLink|length %}
          </a>
        {% endif %}
      {% elseif block.type == 'videoLockup' %}
        <div class="content-lockup video">
          {% set video = block.video.one().filename %}
          {% set poster = block.coverImage.one().getUrl() %}

          {% if video %}
            <div class="content-lockup__video">
              {% include 'components/_video.twig' %}
            </div>
          {% endif %}

          <div class="content-lockup__copy" data-id="{{ loop.index }}">
            <h1>{{block.lockupHeader}}</h1>
            <p class="serif">{{ block.lockupSubhead }}</p>
          </div>
        </div>
      {% elseif block.type == 'youtubeVideoLockup' %}
        <div class="content-lockup">
          {% set video = block.embedLink %}

          {% if video %}
            <div class="content-lockup__video">
              {% include 'components/_video-youtube.twig' %}
            </div>
          {% endif %}

          <div class="content-lockup__copy">
            <h1>{{block.lockupHeader}}</h1>
            <p class="serif">{{ block.lockupSubhead }}</p>
          </div>
        </div>
      {% elseif block.type == 'facebookVideoLockup' %}
        <div class="content-lockup">
          {% set video = block.embedLink %}

          {% if video %}
            <div class="content-lockup__video">
              {% include 'components/_video-facebook.twig' %}
            </div>
          {% endif %}

          <div class="content-lockup__copy">
            <h1>{{block.lockupHeader}}</h1>
            <p class="serif">{{ block.lockupSubhead }}</p>
          </div>
        </div>
      {% elseif block.type == 'vimeoVideoLockup' %}
        <div class="content-lockup">
          {% set video = block.embedLink %}

          {% if video %}
            <div class="content-lockup__video">
              {% include 'components/_video-vimeo.twig' %}
            </div>
          {% endif %}

          <div class="content-lockup__copy">
            <h1>{{block.lockupHeader}}</h1>
            <p class="serif">{{ block.lockupSubhead }}</p>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  {% if entry.backgroundColor %}
    <style type="text/css">
      body {
        background-color: {{ entry.backgroundColor.getHex() }};
      }

      header {
        background-color: {{ entry.backgroundColor.getHex() }}!important;
      }
    </style>
  {% endif %}
{% endblock %}
